{% layout 'layout.liquid' %}
{% block content %}
<div>
    <h2 class="display-5">Search Results</h2>
    {% if searchResults == null || undefined %}
    <div class="alert alert-danger" role="alert">
        Returned no movie results. Please check your spelling a punctuation and try again! <a href="/movies/"
            class="alert-link"> Back to Search</a>
    </div>
    {% else%}
    {% for result in searchResults %}
    <div class="row d-flex justify-content-center">
        <div class="card" style="width: 20rem">
            <h5 class="card-header">{{result.Title}}</h5>
            <div class="card-body">
                <h6>Year: {{result.Year}}</h6>
                <img src="{{result.Poster}}" class="col-sm-5 " alt="">
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}